<!DOCTYPE html>
<html>
<head>
	<title>Welcome {{name}} to Food Distribution App</title>
	<script type="text/javascript" src="./javascript/jquery.js"></script>
	<script src="./javascript/application.js" type="text/javascript" ></script>
	<script type="text/javascript" src="./views/javascript/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="./views/css/bootstrap.css">
</head>
<body>
	<span class = "display-1">Welcome {{name}} you have been successfully created your account
	<a href="/">click here to login</a></span>
</body>
</html>